<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Mozg. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config>
    <modules>
        <Mozg_Payment>
            <version>1.0.3</version>
        </Mozg_Payment>
    </modules>
    <global>
        <models>
            <mozg_payment>
                <class>Mozg_Payment_Model</class>
                <resourceModel>mozg_payment_resource</resourceModel>
            </mozg_payment>
            <mozg_payment_resource>
                <class>Mozg_Payment_Model_Resource</class>
                <entities>
                    <api_debug>
                        <table>mozg_api_debug</table>
                    </api_debug>
                    <event>
                        <table>mozg_event_data</table>
                    </event>
                    <event_queue>
                        <table>mozg_event_data_queue</table>
                    </event_queue>
                    <order_payment>
                        <table>mozg_order_payment</table>
                    </order_payment>
                </entities>
            </mozg_payment_resource>
            <sales>
                <rewrite>
                    <billing_agreement>Mozg_Payment_Model_Billing_Agreement</billing_agreement>
                </rewrite>
            </sales>
            <sales_resource>
                <rewrite>
                    <billing_agreement>Mozg_Payment_Model_Resource_Billing_Agreement</billing_agreement>
                    <billing_agreement_collection>Mozg_Payment_Model_Resource_Billing_Agreement_Collection</billing_agreement_collection>
                </rewrite>
            </sales_resource><!--xx-->
        </models>
        <helpers>
            <mozg_payment>
                <class>Mozg_Payment_Helper</class>
            </mozg_payment>
            <payment>
                <rewrite>
                    <data>Mozg_Payment_Helper_Payment_Data</data>
                </rewrite>
            </payment><!--xx-->
        </helpers>
        <resources>
            <mozg_payment_setup>
                <setup>
                    <module>Mozg_Payment</module>
                    <class>Mozg_Payment_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mozg_payment_setup>
            <mozg_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mozg_write>
            <mozg_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mozg_read>
        </resources>
        <blocks>
            <mozg_payment>
                <class>Mozg_Payment_Block</class>
            </mozg_payment>
            <sales>
                <rewrite>
                    <adminhtml_billing_agreement_grid>Mozg_Payment_Block_Adminhtml_Sales_Billing_Agreement_Grid</adminhtml_billing_agreement_grid>
                </rewrite>
            </sales><!--xx-->
        </blocks>
        <payment>
            <groups>
                <mozg_group>Mozg</mozg_group>
            </groups>
        </payment>
        <fieldsets>
            <sales_convert_quote_item>
                <mozg_pre_order>
                    <to_order_item>*</to_order_item>
                </mozg_pre_order>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <mozg_pre_order>
                    <to_quote_item>*</to_quote_item>
                </mozg_pre_order>
            </sales_convert_order_item>
        </fieldsets>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <mozg_pre_order />
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <mozg_payment_sales_quote_item_set_product>
                        <class>Mozg_Payment_Model_Observers_Quote</class>
                        <method>salesQuoteItemSetProduct</method>
                    </mozg_payment_sales_quote_item_set_product>
                </observers>
            </sales_quote_item_set_product>
            <sales_order_payment_capture>
                <observers>
                    <mozg_payment_capture>
                        <class>mozg_payment/observer</class>
                        <method>addCurrentInvoiceToPayment</method>
                    </mozg_payment_capture>
                </observers>
            </sales_order_payment_capture>
            <controller_action_predispatch_checkout>
                <observers>
                    <mozg_payment_api_hpp>
                        <class>mozg_payment/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_payment_api_hpp>
                    <mozg_payment_billing_agreement>
                        <class>mozg_payment/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_payment_billing_agreement>
                </observers>
            </controller_action_predispatch_checkout>
            <controller_action_predispatch_firecheckout>
                <observers>
                    <mozg_payment_hpp>
                        <class>mozg_payment/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_payment_hpp>
                    <mozg_payment_billing_agreement>
                        <class>mozg_payment/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_payment_billing_agreement>
                </observers>
            </controller_action_predispatch_firecheckout>
            <controller_action_predispatch_onestepcheckout>
                <observers>
                    <mozg_payment_hpp>
                        <class>mozg_payment/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_payment_hpp>
                    <mozg_payment_billing_agreement>
                        <class>mozg_payment/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_payment_billing_agreement>
                </observers>
            </controller_action_predispatch_onestepcheckout>
            <controller_action_predispatch_opc>
                <observers>
                    <mozg_payment_hpp>
                        <class>mozg_payment/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_payment_hpp>
                    <mozg_payment_billing_agreement>
                        <class>mozg_payment/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_payment_billing_agreement>
                </observers>
            </controller_action_predispatch_opc>
            <controller_action_predispatch_streamcheckout>
                <observers>
                    <mozg_payment_hpp>
                        <class>mozg_payment/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_payment_hpp>
                    <mozg_payment_billing_agreement>
                        <class>mozg_payment/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_payment_billing_agreement>
                </observers>
            </controller_action_predispatch_streamcheckout>
            <controller_action_predispatch_gomage_checkout>
                <observers>
                    <mozg_payment_hpp>
                        <class>mozg_payment/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_payment_hpp>
                    <mozg_payment_billing_agreement>
                        <class>mozg_payment/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_payment_billing_agreement>
                </observers>
            </controller_action_predispatch_gomage_checkout>
            <sales_order_shipment_save_before>
                <observers>
                    <mozg_payment_capture_invoice_on_shipment>
                        <class>mozg_payment/observer</class>
                        <method>captureInvoiceOnShipment</method>
                    </mozg_payment_capture_invoice_on_shipment>
                </observers>
            </sales_order_shipment_save_before>
        </events><!--xx-->
    </global>

    <frontend>
        <secure_url>
            <mozg_process>/mozg_payment/process</mozg_process>
        </secure_url>
        <routers>
            <mozg_payment>
                <use>standard</use>
                <args>
                    <module>Mozg_Payment</module>
                    <frontName>mozg_payment</frontName>
                </args>
            </mozg_payment>
        </routers>
        <translate>
            <modules>
                <Mozg_Payment>
                    <files>
                        <default>Mozg_Payment.csv</default>
                    </files>
                </Mozg_Payment>
            </modules>
        </translate>
        <layout>
            <updates>
                <mozg_payment>
                    <file>mozg_payment.xml</file>
                </mozg_payment>
            </updates>
        </layout>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <mozg_payment_checkout_onepage_controller_success_action>
                        <class>mozg_payment/observer</class>
                        <method>checkoutSuccess</method>
                    </mozg_payment_checkout_onepage_controller_success_action>
                </observers>
            </checkout_onepage_controller_success_action>
        </events><!--xx-->
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mozg_Payment before="Mage_Adminhtml">Mozg_Payment_Adminhtml</Mozg_Payment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <mozg_payment>
                    <file>mozg_payment.xml</file>
                </mozg_payment>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mozg_Payment>
                    <files>
                        <default>Mozg_Payment.csv</default>
                    </files>
                </Mozg_Payment>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch_adminhtml>
                <observers>
                    <mozg_payment_hpp>
                        <class>mozg_payment/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_payment_hpp>
                    <mozg_payment_billing_agreement>
                        <class>mozg_payment/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_payment_billing_agreement>
                </observers>
            </controller_action_predispatch_adminhtml>
            <sales_order_payment_cancel>
                <observers>
                    <mozg_payment_sales_order_payment_cancel>
                        <class>mozg_payment/observer</class>
                        <method>salesOrderPaymentCancel</method>
                    </mozg_payment_sales_order_payment_cancel>
                </observers>
            </sales_order_payment_cancel>
            <controller_action_postdispatch_adminhtml_sales_order_create_save>
                <observers>
                    <mozg_payment_controller_action_postdispatch_adminhtml_sales_order_create_save>
                        <class>mozg_payment/observer</class>
                        <method>adminSalesOrderCreateSave</method>
                    </mozg_payment_controller_action_postdispatch_adminhtml_sales_order_create_save>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_create_save>
        </events><!--xx-->
    </adminhtml>
</config>
